In [12]:
import pandas as pd

In [18]:
kuni2017 = pd.read_csv('RV331_lahutused_kuni2017.csv')
alates2017 = pd.read_csv('RV331U_lahutused_alates2017.csv')

In [19]:
lahutused = pd.concat([alates2017, kuni2017], ignore_index=True)

In [22]:
alates2017

,Aasta,Sugu,Alla 1 aasta,1 aasta,2 aastat,3 aastat,4 aastat,5 aastat,6 aastat,7 aastat,8 aastat,9 aastat
0,2017,Mehed,48,90,118,95,91,97,81,69,74,64
1,2017,Naised,43,88,115,88,88,91,83,75,71,68
2,2018,Mehed,36,76,78,106,99,79,68,48,65,47
3,2018,Naised,29,73,89,102,97,77,62,48,64,50
4,2019,Mehed,27,88,87,90,81,79,73,73,54,51
5,2019,Naised,28,84,86,88,85,80,70,69,52,47
6,2020,Mehed,29,80,101,73,86,71,76,82,53,49
7,2020,Naised,32,73,89,71,80,76,70,79,51,48
8,2021,Mehed,40,68,96,92,103,65,76,71,78,58
9,2021,Naised,39,62,96,94,100,66,75,73,75,60

In [20]:
lahutused

,Aasta,Sugu,Alla 1 aasta,1 aasta,2 aastat,3 aastat,4 aastat,5 aastat,6 aastat,7 aastat,8 aastat,9 aastat
0,2017,Mehed,48,90,118,95,91,97,81,69,74,64
1,2017,Naised,43,88,115,88,88,91,83,75,71,68
2,2018,Mehed,36,76,78,106,99,79,68,48,65,47
3,2018,Naised,29,73,89,102,97,77,62,48,64,50
4,2019,Mehed,27,88,87,90,81,79,73,73,54,51
5,2019,Naised,28,84,86,88,85,80,70,69,52,47
6,2020,Mehed,29,80,101,73,86,71,76,82,53,49
7,2020,Naised,32,73,89,71,80,76,70,79,51,48
8,2021,Mehed,40,68,96,92,103,65,76,71,78,58
9,2021,Naised,39,62,96,94,100,66,75,73,75,60
10,1994,Mehed,28,70,135,129,173,158,164,114,117,107
11,1994,Naised,27,75,141,139,176,162,172,120,110,113
12,1995,Mehed,47,119,148,200,266,260,251,244,214,149
13,1995,Naised,48,117,159,195,261,262,247,248,213,149
14,1996,Mehed,37,81,120,154,200,207,214,220,183,146
15,1996,Naised,37,79,124,158,199,198,226,225,181,150
16,1997,Mehed,38,89,124,152,138,159,184,204,204,162
17,1997,Naised,33,86,121,163,146,168,190,191,204,162
18,1998,Mehed,37,70,97,108,130,112,123,164,149,131
19,1998,Naised,38,72,94,119,130,117,130,170,149,134
20,1999,Mehed,36,83,102,105,114,113,121,117,124,157
21,1999,Naised,31,77,101,110,113,118,124,124,120,148
22,2000,Mehed,50,63,94,68,98,113,104,106,110,126
23,2000,Naised,51,71,91,71,92,115,115,114,112,129
24,2001,Mehed,36,78,105,107,107,97,114,94,92,105
25,2001,Naised,38,75,99,99,105,99,116,94,87,109
26,2002,Mehed,44,89,91,91,105,96,86,116,90,95
27,2002,Naised,45,74,84,91,104,92,85,117,87,94
28,2003,Mehed,29,73,93,116,87,83,89,89,84,82
29,2003,Naised,28,69,92,107,82,80,92,86,86,86
30,2004,Mehed,44,86,108,119,105,90,89,58,89,83
31,2004,Naised,46,80,103,127,107,93,88,63,81,83
32,2005,Mehed,31,95,122,119,126,101,76,85,85,71
33,2005,Naised,33,94,122,111,121,98,79,84,74,74
34,2006,Mehed,29,86,117,107,133,100,95,79,71,60
35,2006,Naised,24,87,101,102,125,96,83,73,72,56
36,2007,Mehed,36,106,118,112,120,97,85,70,57,65
37,2007,Naised,32,112,124,113,126,90,76,71,58,64
38,2008,Mehed,32,93,98,114,87,101,85,62,73,68
39,2008,Naised,29,86,103,112,93,99,76,63,73,62
40,2009,Mehed,34,73,127,105,92,94,65,67,72,69
41,2009,Naised,28,76,123,103,83,87,67,72,71,65
42,2010,Mehed,22,72,102,113,99,93,83,81,63,59
43,2010,Naised,19,66,99,116,99,97,79,88,64,52
44,2011,Mehed,29,62,101,100,120,106,80,72,73,64
45,2011,Naised,28,59,96,100,117,100,71,81,68,65
46,2012,Mehed,34,67,66,96,121,96,89,81,83,67
47,2012,Naised,31,73,67,92,117,101,88,81,78,71
48,2013,Mehed,38,90,81,109,104,107,99,85,77,77
49,2013,Naised,43,93,88,105,104,102,95,80,79,80
50,2014,Mehed,28,76,87,94,92,83,90,92,59,57
51,2014,Naised,28,86,87,100,97,78,91,93,62,55
52,2015,Mehed,51,96,104,115,89,71,78,100,79,80
53,2015,Naised,57,93,106,117,91,73,75,104,84,74
54,2016,Mehed,32,87,87,91,91,72,76,90,92,87
55,2016,Naised,29,86,91,98,88,76,85,96,86,92

In [10]:
lahutused.to_csv('lahutused.csv')