In [2]:
import pandas as pd

In [3]:
sots = pd.read_csv("sots.csv")
pikkus = pd.read_csv("abielu_pikkus.csv")
maakond = pd.read_csv("maakond.csv")
kuud = pd.read_csv("kuud_maakonnad.csv")

In [4]:
sots['Elukoht'] = sots['Elukoht'].str.replace('..linnaline ja väikelinnaline asustuspiirkond\xa0\xa0','Linnaline ja väikelinnaline asustuspiirkond')
sots['Elukoht'] = sots['Elukoht'].str.replace('..maaline asustuspiirkond','Maaline asustuspiirkond')

pikkus['Elukoht'] = pikkus['Elukoht'].str.replace('linnaline ja väikelinnaline asustuspiirkond','Linnaline ja väikelinnaline asustuspiirkond')
pikkus['Elukoht'] = pikkus['Elukoht'].str.replace('maaline asustuspiirkond','Maaline asustuspiirkond')

sots = sots.rename(columns={"Elukoht":"Asustuspiirkond"})
pikkus = pikkus.rename(columns={"Elukoht":"Asustuspiirkond"})
maakond = maakond.rename(columns= {"Asustuspiirkonna liik" : "Asustuspiirkond"})

C:\Users\karin\AppData\Local\Temp\ipykernel_7116\4294079473.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  sots['Elukoht'] = sots['Elukoht'].str.replace('..linnaline ja väikelinnaline asustuspiirkond\xa0\xa0','Linnaline ja väikelinnaline asustuspiirkond')
C:\Users\karin\AppData\Local\Temp\ipykernel_7116\4294079473.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  sots['Elukoht'] = sots['Elukoht'].str.replace('..maaline asustuspiirkond','Maaline asustuspiirkond')

In [5]:
pikkus2017 = pikkus.query("Aasta == 2017 & Sugu == 'Mehed'")
pikkus2017 = pikkus2017.drop(columns=["Sugu", "Aasta"])

sots2017 = sots.query("Sugu == 'Mehed'")
sots2017 = sots2017.drop(columns=["Sugu", "Aasta"])

In [6]:
kokku = sots2017.merge(pikkus2017, on=["Asustuspiirkond", "Vanuserühm", "Kokku"])

maaline = kokku.query("Asustuspiirkond == 'Maaline asustuspiirkond'")
linnaline = kokku.query("Asustuspiirkond == 'Linnaline ja väikelinnaline asustuspiirkond'")

In [7]:
maaline

,Asustuspiirkond,Vanuserühm,Kokku,Töötav,Töötu,Pensionär,(Üli)õpilane,Töövõimetu*,Kodune,Kinnipeetav*,...,4 aastat,5 aastat,6 aastat,7 aastat,8 aastat,9 aastat,10-14 aastat,15-19 aastat,20 ja enam aastat,Abielu kestus teadmata
13,Maaline asustuspiirkond,15-19,0,0,0,0,0,..,0,..,...,0,0,0,0,0,0,0,0,0,0
14,Maaline asustuspiirkond,20-24,6,2,0,0,0,..,0,..,...,0,0,0,0,0,0,0,0,0,0
15,Maaline asustuspiirkond,25-29,53,8,1,0,0,..,0,..,...,6,5,3,0,1,2,2,0,0,0
16,Maaline asustuspiirkond,30-34,116,14,7,0,1,..,0,..,...,8,14,12,13,10,7,11,0,0,0
17,Maaline asustuspiirkond,35-39,114,8,5,0,0,..,1,..,...,5,11,11,7,3,8,34,11,0,0
18,Maaline asustuspiirkond,40-44,145,16,3,0,0,..,1,..,...,10,7,6,5,5,5,35,34,22,0
19,Maaline asustuspiirkond,45-49,147,11,4,4,0,..,0,..,...,5,1,4,3,3,2,27,34,56,0
20,Maaline asustuspiirkond,50-54,105,14,5,1,0,..,0,..,...,0,3,1,2,2,2,4,10,76,0
21,Maaline asustuspiirkond,55-59,86,18,4,7,0,..,0,..,...,0,3,0,2,1,1,2,7,66,0
22,Maaline asustuspiirkond,60-64,45,4,0,12,0,..,0,..,...,2,0,0,2,1,1,1,3,35,0
23,Maaline asustuspiirkond,65-69,27,2,0,10,0,..,0,..,...,0,0,0,0,0,0,1,2,21,1
24,Maaline asustuspiirkond,70-74,11,0,0,3,0,..,0,..,...,0,0,0,0,0,1,1,4,5,0
25,Maaline asustuspiirkond,75 ja vanemad,8,0,0,3,0,..,0,..,...,0,0,0,0,0,0,0,1,6,1

In [8]:
maakond['Mehe elukoht'].value_counts()

Harju maakond         10
Hiiu maakond          10
Ida-Viru maakond      10
Jõgeva maakond        10
Järva maakond         10
Lääne maakond         10
Lääne-Viru maakond    10
Põlva maakond         10
Pärnu maakond         10
Rapla maakond         10
Saare maakond         10
Tartu maakond         10
Valga maakond         10
Viljandi maakond      10
Võru maakond          10
Tallinn                5
Name: Mehe elukoht, dtype: int64

In [9]:
maakond['Mehe elukoht'] = maakond['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
kuud['Mehe elukoht'] = kuud['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
maakond = maakond.rename(columns={"Mehe elukoht":"Elukoht"})
kuud = kuud.rename(columns={"Mehe elukoht":"Elukoht"})
kuud = kuud.rename(columns={"Kuud kokku":"Lahutused kokku"})

C:\Users\karin\AppData\Local\Temp\ipykernel_7116\304158672.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  maakond['Mehe elukoht'] = maakond['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
C:\Users\karin\AppData\Local\Temp\ipykernel_7116\304158672.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  kuud['Mehe elukoht'] = kuud['Mehe elukoht'].str.replace('..Tallinn','Tallinn')

In [10]:
maakond

,Aasta,Asustuspiirkond,Elukoht,Kokku,0 last,1 laps,2 last,3 last,4 last,5 või enam last,Ühiste laste arv teadmata
0,2017,Linnaline ja väikelinnaline asustuspiirkond,Harju maakond,1398,616,458,273,44,7,0,0
1,2017,Linnaline ja väikelinnaline asustuspiirkond,Tallinn,1145,529,369,208,33,6,0,0
2,2017,Linnaline ja väikelinnaline asustuspiirkond,Hiiu maakond,0,0,0,0,0,0,0,0
3,2017,Linnaline ja väikelinnaline asustuspiirkond,Ida-Viru maakond,352,135,140,66,8,3,0,0
4,2017,Linnaline ja väikelinnaline asustuspiirkond,Jõgeva maakond,6,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
150,2021,Maaline asustuspiirkond,Saare maakond,35,16,8,7,2,1,0,1
151,2021,Maaline asustuspiirkond,Tartu maakond,77,25,18,27,6,0,0,1
152,2021,Maaline asustuspiirkond,Valga maakond,31,11,10,5,1,3,0,1
153,2021,Maaline asustuspiirkond,Viljandi maakond,48,21,8,11,7,0,1,0
154,2021,Maaline asustuspiirkond,Võru maakond,34,11,8,8,5,1,0,1

In [11]:
kuud_maakonnad_koos = kuud.assign(Lastetu = maakond["0 last"],
                                  Üks_laps = maakond["1 laps"],
                                  Kaks_last = maakond["2 last"],
                                  Kolm_last = maakond["3 last"],
                                  Neli_last = maakond["4 last"],
                                  Viis_või_enam_last = maakond["5 või enam last"],
                                  Teadmata = maakond["Ühiste laste arv teadmata"])

In [12]:
kuud_maakonnad_koos

,Aasta,Asustuspiirkonna liik,Elukoht,Lahutused kokku,Jaanuar,Veebruar,Märts,Aprill,Mai,Juuni,...,Oktoober,November,Detsember,Lastetu,Üks_laps,Kaks_last,Kolm_last,Neli_last,Viis_või_enam_last,Teadmata
0,2017,Linnaline ja väikelinnaline asustuspiirkond,Harju maakond,1398,90,106,128,100,136,104,...,107,146,135,616,458,273,44,7,0,0
1,2017,Linnaline ja väikelinnaline asustuspiirkond,Tallinn,1145,75,84,101,81,110,82,...,94,120,117,529,369,208,33,6,0,0
2,2017,Linnaline ja väikelinnaline asustuspiirkond,Hiiu maakond,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,Linnaline ja väikelinnaline asustuspiirkond,Ida-Viru maakond,352,35,27,29,21,32,30,...,35,35,27,135,140,66,8,3,0,0
4,2017,Linnaline ja väikelinnaline asustuspiirkond,Jõgeva maakond,6,0,2,3,0,0,0,...,0,0,1,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2021,Maaline asustuspiirkond,Saare maakond,35,2,0,5,0,1,4,...,3,1,2,25,18,27,6,0,0,1
152,2021,Maaline asustuspiirkond,Tartu maakond,73,8,1,5,1,5,7,...,9,3,7,11,10,5,1,3,0,1
153,2021,Maaline asustuspiirkond,Valga maakond,31,1,2,0,2,5,5,...,2,2,4,21,8,11,7,0,1,0
154,2021,Maaline asustuspiirkond,Viljandi maakond,47,2,5,2,5,10,6,...,3,3,1,11,8,8,5,1,0,1
155,2021,Maaline asustuspiirkond,Võru maakond,34,0,4,1,2,2,2,...,4,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Aasta,Sugu,Asustuspiirkond,Vanuserühm,Kokku,Töötav,Töötu,Pensionär,(Üli)õpilane,Töövõimetu*,Kodune,Kinnipeetav*,Ajateenija,Lapsehoolduspuhkusel*,Muu mittetöötav*,Sotsiaal-majanduslik seisund teadmata
0,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,15-19,0,0,0,0,0,..,0,..,0,0,0,0
1,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,20-24,39,10,2,1,2,..,0,..,0,0,1,23
2,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,25-29,221,32,12,2,0,..,3,..,0,0,0,172
3,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,30-34,371,36,10,2,1,..,2,..,0,0,3,317
4,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,35-39,382,31,12,0,1,..,2,..,0,0,2,334
5,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,40-44,349,20,11,2,0,..,1,..,0,0,1,314
6,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,45-49,349,29,12,3,0,..,0,..,0,1,1,303
7,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,50-54,212,24,4,3,0,..,0,..,0,0,3,178
8,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,55-59,184,12,7,9,0,..,0,..,0,0,2,154
9,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,60-64,93,3,1,17,0,..,0,..,0,0,1,71
10,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,65-69,50,6,0,11,0,..,1,..,0,0,0,32
11,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,70-74,22,1,0,4,0,..,0,..,0,0,0,17
12,2017,Mehed,Linnaline ja väikelinnaline asustuspiirkond,75 ja vanemad,11,0,0,6,0,..,0,..,0,0,0,5
13,2017,Mehed,Maaline asustuspiirkond,15-19,0,0,0,0,0,..,0,..,0,0,0,0
14,2017,Mehed,Maaline asustuspiirkond,20-24,6,2,0,0,0,..,0,..,0,0,0,4
15,2017,Mehed,Maaline asustuspiirkond,25-29,53,8,1,0,0,..,0,..,0,0,0,44
16,2017,Mehed,Maaline asustuspiirkond,30-34,116,14,7,0,1,..,0,..,0,0,1,93
17,2017,Mehed,Maaline asustuspiirkond,35-39,114,8,5,0,0,..,1,..,0,0,0,100
18,2017,Mehed,Maaline asustuspiirkond,40-44,145,16,3,0,0,..,1,..,0,1,0,124
19,2017,Mehed,Maaline asustuspiirkond,45-49,147,11,4,4,0,..,0,..,0,0,3,125
20,2017,Mehed,Maaline asustuspiirkond,50-54,105,14,5,1,0,..,0,..,0,0,3,82
21,2017,Mehed,Maaline asustuspiirkond,55-59,86,18,4,7,0,..,0,..,0,0,1,56
22,2017,Mehed,Maaline asustuspiirkond,60-64,45,4,0,12,0,..,0,..,0,0,0,29
23,2017,Mehed,Maaline asustuspiirkond,65-69,27,2,0,10,0,..,0,..,0,0,0,15
24,2017,Mehed,Maaline asustuspiirkond,70-74,11,0,0,3,0,..,0,..,0,0,0,8
25,2017,Mehed,Maaline asustuspiirkond,75 ja vanemad,8,0,0,3,0,..,0,..,0,0,0,5
26,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,15-19,1,0,0,0,1,..,0,..,0,0,0,0
27,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,20-24,113,30,6,0,5,..,6,..,0,6,1,59
28,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,25-29,350,86,10,3,5,..,5,..,0,18,0,223
29,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,30-34,491,90,19,2,4,..,12,..,0,16,2,346
30,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,35-39,417,52,4,2,3,..,4,..,0,6,0,346
31,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,40-44,375,57,5,3,1,..,3,..,0,2,2,302
32,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,45-49,291,45,3,2,2,..,2,..,0,0,1,236
33,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,50-54,213,35,4,2,0,..,2,..,0,0,2,168
34,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,55-59,140,26,3,3,1,..,0,..,0,0,0,107
35,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,60-64,76,1,1,10,0,..,1,..,0,0,0,63
36,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,65-69,37,1,0,12,0,..,0,..,0,0,0,24
37,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,70-74,13,0,0,7,0,..,0,..,0,0,0,6
38,2017,Naised,Linnaline ja väikelinnaline asustuspiirkond,75 ja vanemad,16,0,0,6,0,..,0,..,0,0,0,10
39,2017,Naised,Maaline asustuspiirkond,15-19,0,0,0,0,0,..,0,..,0,0,0,0
40,2017,Naised,Maaline asustuspiirkond,20-24,26,9,1,0,0,..,0,..,0,1,0,15
41,2017,Naised,Maaline asustuspiirkond,25-29,69,20,5,0,0,..,3,..,0,5,0,36
42,2017,Naised,Maaline asustuspiirkond,30-34,91,25,4,0,2,..,0,..,0,4,0,56
43,2017,Naised,Maaline asustuspiirkond,35-39,113,20,5,0,0,..,2,..,0,4,1,81
44,2017,Naised,Maaline asustuspiirkond,40-44,129,25,6,2,1,..,2,..,0,0,1,92
45,2017,Naised,Maaline asustuspiirkond,45-49,105,19,4,2,0,..,1,..,0,0,0,79
46,2017,Naised,Maaline asustuspiirkond,50-54,80,23,1,1,0,..,0,..,0,0,1,54
47,2017,Naised,Maaline asustuspiirkond,55-59,52,11,0,3,0,..,0,..,0,0,0,38
48,2017,Naised,Maaline asustuspiirkond,60-64,27,7,0,8,0,..,0,..,0,0,0,12
49,2017,Naised,Maaline asustuspiirkond,65-69,16,1,0,6,0,..,0,..,0,0,0,9
50,2017,Naised,Maaline asustuspiirkond,70-74,9,0,0,2,0,..,0,..,0,0,0,7
51,2017,Naised,Maaline asustuspiirkond,75 ja vanemad,1,0,0,1,0,..,0,..,0,0,0,0

In [16]:
abielud_kuud = pd.read_csv("s6lmitud_abielud.csv")

In [17]:
abielud

,Year,Type of settlement region,Place of residence of groom,Months total,January,February,March,April,May,June,July,August,September,October,November,December
0,2017,City and town settlement region,Harju county,2855,127,155,185,173,210,289,517,479,287,173,124,136
1,2017,City and town settlement region,..Tallinn,2409,111,131,154,152,174,250,423,405,244,144,109,112
2,2017,City and town settlement region,Hiiu county,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2017,City and town settlement region,Ida-Viru county,582,23,30,29,44,27,53,105,73,62,45,49,42
4,2017,City and town settlement region,Jõgeva county,17,0,0,1,1,1,1,7,3,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2021,Rural settlement region,Saare county,69,1,3,7,5,7,5,15,12,3,6,1,4
151,2021,Rural settlement region,Tartu county,218,5,9,12,14,17,33,41,32,14,21,8,12
152,2021,Rural settlement region,Valga county,65,2,2,2,2,4,8,13,4,4,11,9,4
153,2021,Rural settlement region,Viljandi county,98,4,6,2,3,8,10,15,15,7,9,8,11
154,2021,Rural settlement region,Võru county,0,0,7,6,3,5,4,13,15,4,4,7,4