In [109]:
import pandas as pd

In [110]:
sots = pd.read_csv("sots.csv")
pikkus = pd.read_csv("abielu_pikkus.csv")
maakond = pd.read_csv("maakond.csv")
kuud = pd.read_csv("kuud_maakonnad.csv")

In [111]:
sots['Elukoht'] = sots['Elukoht'].str.replace('..linnaline ja väikelinnaline asustuspiirkond\xa0\xa0','Linnaline ja väikelinnaline asustuspiirkond')
sots['Elukoht'] = sots['Elukoht'].str.replace('..maaline asustuspiirkond','Maaline asustuspiirkond')

pikkus['Elukoht'] = pikkus['Elukoht'].str.replace('linnaline ja väikelinnaline asustuspiirkond','Linnaline ja väikelinnaline asustuspiirkond')
pikkus['Elukoht'] = pikkus['Elukoht'].str.replace('maaline asustuspiirkond','Maaline asustuspiirkond')

sots = sots.rename(columns={"Elukoht":"Asustuspiirkond"})
pikkus = pikkus.rename(columns={"Elukoht":"Asustuspiirkond"})
maakond = maakond.rename(columns= {"Asustuspiirkonna liik" : "Asustuspiirkond"})

C:\Users\karin\AppData\Local\Temp\ipykernel_9164\4294079473.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  sots['Elukoht'] = sots['Elukoht'].str.replace('..linnaline ja väikelinnaline asustuspiirkond\xa0\xa0','Linnaline ja väikelinnaline asustuspiirkond')
C:\Users\karin\AppData\Local\Temp\ipykernel_9164\4294079473.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  sots['Elukoht'] = sots['Elukoht'].str.replace('..maaline asustuspiirkond','Maaline asustuspiirkond')

In [112]:
pikkus2017 = pikkus.query("Aasta == 2017 & Sugu == 'Mehed'")
pikkus2017 = pikkus2017.drop(columns=["Sugu", "Aasta"])

sots2017 = sots.query("Sugu == 'Mehed'")
sots2017 = sots2017.drop(columns=["Sugu", "Aasta"])

In [113]:
kokku = sots2017.merge(pikkus2017, on=["Asustuspiirkond", "Vanuserühm", "Kokku"])

maaline = kokku.query("Asustuspiirkond == 'Maaline asustuspiirkond'")
linnaline = kokku.query("Asustuspiirkond == 'Linnaline ja väikelinnaline asustuspiirkond'")

In [114]:
maaline

,Asustuspiirkond,Vanuserühm,Kokku,Töötav,Töötu,Pensionär,(Üli)õpilane,Töövõimetu*,Kodune,Kinnipeetav*,...,4 aastat,5 aastat,6 aastat,7 aastat,8 aastat,9 aastat,10-14 aastat,15-19 aastat,20 ja enam aastat,Abielu kestus teadmata
13,Maaline asustuspiirkond,15-19,0,0,0,0,0,..,0,..,...,0,0,0,0,0,0,0,0,0,0
14,Maaline asustuspiirkond,20-24,6,2,0,0,0,..,0,..,...,0,0,0,0,0,0,0,0,0,0
15,Maaline asustuspiirkond,25-29,53,8,1,0,0,..,0,..,...,6,5,3,0,1,2,2,0,0,0
16,Maaline asustuspiirkond,30-34,116,14,7,0,1,..,0,..,...,8,14,12,13,10,7,11,0,0,0
17,Maaline asustuspiirkond,35-39,114,8,5,0,0,..,1,..,...,5,11,11,7,3,8,34,11,0,0
18,Maaline asustuspiirkond,40-44,145,16,3,0,0,..,1,..,...,10,7,6,5,5,5,35,34,22,0
19,Maaline asustuspiirkond,45-49,147,11,4,4,0,..,0,..,...,5,1,4,3,3,2,27,34,56,0
20,Maaline asustuspiirkond,50-54,105,14,5,1,0,..,0,..,...,0,3,1,2,2,2,4,10,76,0
21,Maaline asustuspiirkond,55-59,86,18,4,7,0,..,0,..,...,0,3,0,2,1,1,2,7,66,0
22,Maaline asustuspiirkond,60-64,45,4,0,12,0,..,0,..,...,2,0,0,2,1,1,1,3,35,0
23,Maaline asustuspiirkond,65-69,27,2,0,10,0,..,0,..,...,0,0,0,0,0,0,1,2,21,1
24,Maaline asustuspiirkond,70-74,11,0,0,3,0,..,0,..,...,0,0,0,0,0,1,1,4,5,0
25,Maaline asustuspiirkond,75 ja vanemad,8,0,0,3,0,..,0,..,...,0,0,0,0,0,0,0,1,6,1

In [115]:
maakond['Mehe elukoht'].value_counts()

Harju maakond         10
Hiiu maakond          10
Ida-Viru maakond      10
Jõgeva maakond        10
Järva maakond         10
Lääne maakond         10
Lääne-Viru maakond    10
Põlva maakond         10
Pärnu maakond         10
Rapla maakond         10
Saare maakond         10
Tartu maakond         10
Valga maakond         10
Viljandi maakond      10
Võru maakond          10
Tallinn                5
Name: Mehe elukoht, dtype: int64

In [116]:
maakond['Mehe elukoht'] = maakond['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
kuud['Mehe elukoht'] = kuud['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
maakond = maakond.rename(columns={"Mehe elukoht":"Elukoht"})
kuud = kuud.rename(columns={"Mehe elukoht":"Elukoht"})
kuud = kuud.rename(columns={"Kuud kokku":"Lahutused kokku"})

C:\Users\karin\AppData\Local\Temp\ipykernel_9164\304158672.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  maakond['Mehe elukoht'] = maakond['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
C:\Users\karin\AppData\Local\Temp\ipykernel_9164\304158672.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  kuud['Mehe elukoht'] = kuud['Mehe elukoht'].str.replace('..Tallinn','Tallinn')

In [106]:
maakond

,Aasta,Asustuspiirkond,Elukoht,Kokku,0 last,1 laps,2 last,3 last,4 last,5 või enam last,Ühiste laste arv teadmata
0,2017,Linnaline ja väikelinnaline asustuspiirkond,Harju maakond,1398,616,458,273,44,7,0,0
1,2017,Linnaline ja väikelinnaline asustuspiirkond,Tallinn,1145,529,369,208,33,6,0,0
2,2017,Linnaline ja väikelinnaline asustuspiirkond,Hiiu maakond,0,0,0,0,0,0,0,0
3,2017,Linnaline ja väikelinnaline asustuspiirkond,Ida-Viru maakond,352,135,140,66,8,3,0,0
4,2017,Linnaline ja väikelinnaline asustuspiirkond,Jõgeva maakond,6,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
150,2021,Maaline asustuspiirkond,Saare maakond,35,16,8,7,2,1,0,1
151,2021,Maaline asustuspiirkond,Tartu maakond,77,25,18,27,6,0,0,1
152,2021,Maaline asustuspiirkond,Valga maakond,31,11,10,5,1,3,0,1
153,2021,Maaline asustuspiirkond,Viljandi maakond,48,21,8,11,7,0,1,0
154,2021,Maaline asustuspiirkond,Võru maakond,34,11,8,8,5,1,0,1

In [107]:
kuud_maakonnad_koos = kuud.assign(Lastetu = maakond["0 last"],
                                  Üks_laps = maakond["1 laps"],
                                  Kaks_last = maakond["2 last"],
                                  Kolm_last = maakond["3 last"],
                                  Neli_last = maakond["4 last"],
                                  Viis_või_enam_last = maakond["5 või enam last"],
                                  Teadmata = maakond["Ühiste laste arv teadmata"])

In [108]:
kuud_maakonnad_koos

,Aasta,Asustuspiirkonna liik,Elukoht,Kuud kokku,Jaanuar,Veebruar,Märts,Aprill,Mai,Juuni,...,Oktoober,November,Detsember,Lastetu,Üks_laps,Kaks_last,Kolm_last,Neli_last,Viis_või_enam_last,Teadmata
0,2017,Linnaline ja väikelinnaline asustuspiirkond,Harju maakond,1398,90,106,128,100,136,104,...,107,146,135,616,458,273,44,7,0,0
1,2017,Linnaline ja väikelinnaline asustuspiirkond,Tallinn,1145,75,84,101,81,110,82,...,94,120,117,529,369,208,33,6,0,0
2,2017,Linnaline ja väikelinnaline asustuspiirkond,Hiiu maakond,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,Linnaline ja väikelinnaline asustuspiirkond,Ida-Viru maakond,352,35,27,29,21,32,30,...,35,35,27,135,140,66,8,3,0,0
4,2017,Linnaline ja väikelinnaline asustuspiirkond,Jõgeva maakond,6,0,2,3,0,0,0,...,0,0,1,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2021,Maaline asustuspiirkond,Saare maakond,35,2,0,5,0,1,4,...,3,1,2,25,18,27,6,0,0,1
152,2021,Maaline asustuspiirkond,Tartu maakond,73,8,1,5,1,5,7,...,9,3,7,11,10,5,1,3,0,1
153,2021,Maaline asustuspiirkond,Valga maakond,31,1,2,0,2,5,5,...,2,2,4,21,8,11,7,0,1,0
154,2021,Maaline asustuspiirkond,Viljandi maakond,47,2,5,2,5,10,6,...,3,3,1,11,8,8,5,1,0,1
155,2021,Maaline asustuspiirkond,Võru maakond,34,0,4,1,2,2,2,...,4,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN