In [45]:
import pandas as pd

In [46]:
sots_lahutus = pd.read_csv("sots_lahutus.csv")
sots_abielu = pd.read_csv("sots_abielud.csv")
pikkus_lahutuseni = pd.read_csv("abielu_pikkus.csv")
maakond_lahutus = pd.read_csv("maakond_lahutus.csv")
kuud_maakonnad_lahutus = pd.read_csv("kuud_maakonnad_lahutus.csv")
abielud_kuud_maakonnad = pd.read_csv("abielud_kuud_maakonnad.csv")
abielud_vanused_sood = pd.read_csv("abielud_vanused_sood_maakonnad.csv")

In [47]:
sots_lahutus['Elukoht'] = sots_lahutus['Elukoht'].str.replace('..linnaline ja väikelinnaline asustuspiirkond\xa0\xa0','Linnaline ja väikelinnaline asustuspiirkond')
sots_lahutus['Elukoht'] = sots_lahutus['Elukoht'].str.replace('..maaline asustuspiirkond','Maaline asustuspiirkond')

pikkus_lahutuseni['Elukoht'] = pikkus_lahutuseni['Elukoht'].str.replace('linnaline ja väikelinnaline asustuspiirkond','Linnaline ja väikelinnaline asustuspiirkond')
pikkus_lahutuseni['Elukoht'] = pikkus_lahutuseni['Elukoht'].str.replace('maaline asustuspiirkond','Maaline asustuspiirkond')

sots_lahutus = sots_lahutus.rename(columns={"Elukoht":"Asustuspiirkond"})
pikkus_lahutuseni = pikkus.rename(columns={"Elukoht":"Asustuspiirkond"})
maakond_lahutus = maakond_lahutus.rename(columns= {"Asustuspiirkonna liik" : "Asustuspiirkond"})

C:\Users\karin\AppData\Local\Temp\ipykernel_7116\3729734405.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  sots_lahutus['Elukoht'] = sots_lahutus['Elukoht'].str.replace('..linnaline ja väikelinnaline asustuspiirkond\xa0\xa0','Linnaline ja väikelinnaline asustuspiirkond')
C:\Users\karin\AppData\Local\Temp\ipykernel_7116\3729734405.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  sots_lahutus['Elukoht'] = sots_lahutus['Elukoht'].str.replace('..maaline asustuspiirkond','Maaline asustuspiirkond')

In [48]:
pikkus2017 = pikkus_lahutuseni.query("Aasta == 2017 & Sugu == 'Mehed'")
pikkus2017 = pikkus2017.drop(columns=["Sugu", "Aasta"])

sots2017 = sots_lahutus.query("Sugu == 'Mehed'")
sots2017 = sots2017.drop(columns=["Sugu", "Aasta"])

In [49]:
kokku = sots2017.merge(pikkus2017, on=["Asustuspiirkond", "Vanuserühm", "Kokku"])

maaline = kokku.query("Asustuspiirkond == 'Maaline asustuspiirkond'")
linnaline = kokku.query("Asustuspiirkond == 'Linnaline ja väikelinnaline asustuspiirkond'")

In [ ]:
maakond_lahutus['Mehe elukoht'] = maakond_lahutus['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
kuud_maakonnad_lahutus['Mehe elukoht'] = kuud_maakonnad_lahutus['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
maakond_lahutus = maakond_lahutus.rename(columns={"Mehe elukoht":"Elukoht"})
kuud_maakonnad_lahutus = kuud_maakonnad_lahutus.rename(columns={"Mehe elukoht":"Elukoht"})
kuud_maakonnad_lahutus = kuud_maakonnad_lahutus.rename(columns={"Kuud kokku":"Lahutused kokku"})

In [ ]:
kuud_maakonnad_koos = kuud_maakonnad_lahutus.assign(Lastetu = maakond["0 last"],
                                  Üks_laps = maakond["1 laps"],
                                  Kaks_last = maakond["2 last"],
                                  Kolm_last = maakond["3 last"],
                                  Neli_last = maakond["4 last"],
                                  Viis_või_enam_last = maakond["5 või enam last"],
                                  Teadmata = maakond["Ühiste laste arv teadmata"])

In [51]:
kuud_maakonnad_koos

C:\Users\karin\AppData\Local\Temp\ipykernel_7116\3113499986.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  maakond_lahutus['Mehe elukoht'] = maakond_lahutus['Mehe elukoht'].str.replace('..Tallinn','Tallinn')
C:\Users\karin\AppData\Local\Temp\ipykernel_7116\3113499986.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  kuud_maakonnad_lahutus['Mehe elukoht'] = kuud_maakonnad_lahutus['Mehe elukoht'].str.replace('..Tallinn','Tallinn')

,Aasta,Asustuspiirkonna liik,Elukoht,Lahutused kokku,Jaanuar,Veebruar,Märts,Aprill,Mai,Juuni,...,Oktoober,November,Detsember,Lastetu,Üks_laps,Kaks_last,Kolm_last,Neli_last,Viis_või_enam_last,Teadmata
0,2017,Linnaline ja väikelinnaline asustuspiirkond,Harju maakond,1398,90,106,128,100,136,104,...,107,146,135,616,458,273,44,7,0,0
1,2017,Linnaline ja väikelinnaline asustuspiirkond,Tallinn,1145,75,84,101,81,110,82,...,94,120,117,529,369,208,33,6,0,0
2,2017,Linnaline ja väikelinnaline asustuspiirkond,Hiiu maakond,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,Linnaline ja väikelinnaline asustuspiirkond,Ida-Viru maakond,352,35,27,29,21,32,30,...,35,35,27,135,140,66,8,3,0,0
4,2017,Linnaline ja väikelinnaline asustuspiirkond,Jõgeva maakond,6,0,2,3,0,0,0,...,0,0,1,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2021,Maaline asustuspiirkond,Saare maakond,35,2,0,5,0,1,4,...,3,1,2,25,18,27,6,0,0,1
152,2021,Maaline asustuspiirkond,Tartu maakond,73,8,1,5,1,5,7,...,9,3,7,11,10,5,1,3,0,1
153,2021,Maaline asustuspiirkond,Valga maakond,31,1,2,0,2,5,5,...,2,2,4,21,8,11,7,0,1,0
154,2021,Maaline asustuspiirkond,Viljandi maakond,47,2,5,2,5,10,6,...,3,3,1,11,8,8,5,1,0,1
155,2021,Maaline asustuspiirkond,Võru maakond,34,0,4,1,2,2,2,...,4,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN