In [12]:
pip install geopandas

import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML

SyntaxError: invalid syntax (4016645815.py, line 1)

In [7]:
import geopandas as gpd
df = gpd.read_file("maakond_20221201.shp")
#fig, ax = plt.subplots()
#df.plot(ax=ax,color='white', edgecolor='black')
#ax.set_aspect('equal')
#plt.show()

ModuleNotFoundError: No module named 'geopandas'

In [8]:
df = df.sort_values("MNIMI", ascending=True).reset_index(drop=True)
df = df.rename(columns={"MNIMI": "MAAKOND"})
df = df.drop(columns="MKOOD")

NameError: name 'df' is not defined

In [ ]:
df

In [ ]:
lahutused = pd.read_csv("../kuud_maakonnad_lahutus.csv")
lahutused = lahutused.drop(140)

In [ ]:
abielud = pd.read_csv("../abielud_kuud_maakonnad.csv")
abielud

In [ ]:
lahutused["Mehe elukoht"].value_counts()

lahutused = lahutused[lahutused['Mehe elukoht'] != '..Tallinn'].reset_index(drop=True)
lahutused

In [ ]:
abielud['Mehe elukoht'].value_counts()
abielud = abielud[abielud['Mehe elukoht'] != 'Tallinn'].reset_index(drop=True)
abielud

In [2]:
lahutused_lahku = lahutused.groupby(['Asustuspiirkonna liik','Mehe elukoht']).sum().reset_index()
abielud_lahku = abielud.groupby(['Asustuspiirkonna liik','Mehe elukoht']).sum().reset_index()
lahutused_lahku['Aasta'] = '2017-2021'
abielud_lahku['Aasta'] = '2017-2021'


abielud_lahku['Kuud kokku'] = abielud_lahku.apply(lambda row: row.Jaanuar + row.Veebruar + row.M채rts + row.Aprill + row.Mai + row.Juuni + row.Juuli + row.August + row.September + row.Oktoober + row.November + row.Detsember, axis=1)
abielud_lahku = abielud_lahku[['Asustuspiirkonna liik', 'Mehe elukoht', 'Aasta', 'Kuud kokku', 'Jaanuar', 'Veebruar', 'M채rts', 'Aprill',
       'Mai', 'Juuni', 'Juuli', 'August', 'September', 'Oktoober', 'November',
       'Detsember']]

display(lahutused_lahku)

NameError: name 'lahutused' is not defined

In [3]:
lahutused_mk = lahutused.groupby(['Mehe elukoht']).sum().reset_index()
abielud_mk = abielud.groupby(['Mehe elukoht']).sum().reset_index()
lahutused_mk['Aasta'] = '2017-2021'
abielud_mk['Aasta'] = '2017-2021'
abielud_mk['Kuud kokku'] = abielud_mk.apply(lambda row: row.Jaanuar + row.Veebruar + row.M채rts + row.Aprill + row.Mai + row.Juuni + row.Juuli + row.August + row.September + row.Oktoober + row.November + row.Detsember, axis=1)
abielud_mk = abielud_mk[['Mehe elukoht', 'Aasta', 'Kuud kokku', 'Jaanuar', 'Veebruar', 'M채rts', 'Aprill',
       'Mai', 'Juuni', 'Juuli', 'August', 'September', 'Oktoober', 'November',
       'Detsember']]
abielud_mk

NameError: name 'lahutused' is not defined

In [4]:
osakaal = pd.DataFrame(columns=['Maakond', 'Protsent', 'Linnaline ja v채ikelinnaline asustuspiirkond', 'Maaline asustuspiirkond'])

for i in range(15):
    maakond = abielud_mk.iloc[i]['Mehe elukoht']
    abielusid = abielud_mk.iloc[i]['Kuud kokku']
    lahutusi = lahutused_mk.iloc[i]['Kuud kokku']
    
    abielusid_linnas = abielud_lahku.iloc[i]['Kuud kokku']
    lahutusi_linnas = lahutused_lahku.iloc[i]['Kuud kokku']
    
    abielusid_maal = abielud_lahku.iloc[i+15]['Kuud kokku']
    lahutusi_maal = lahutused_lahku.iloc[i+15]['Kuud kokku']
    
    protsent = round(lahutusi/abielusid, 3)
    linn = round(lahutusi_linnas/abielusid_linnas, 3)
    maa = round(lahutusi_maal/abielusid_maal, 3) 
    osakaal.loc[i] = [maakond, protsent, linn, maa]

df["Lahutused/Abielud"] = osakaal.Protsent
df["Millest linnaline ja v채ikelinnaline asustuspiirkond"] = osakaal["Linnaline ja v채ikelinnaline asustuspiirkond"]
df["Millest maaline asustuspiirkond"] = osakaal['Maaline asustuspiirkond']

df['Millest linnaline ja v채ikelinnaline asustuspiirkond'] = df['Millest linnaline ja v채ikelinnaline asustuspiirkond'].fillna('Puudub')
df

NameError: name 'abielud_mk' is not defined

In [5]:
df.explore(
     column="Lahutused/Abielud", 
     tooltip="MAAKOND",
     popup=True, 
     tiles="CartoDB positron",
     cmap="Greens",
     style_kwds=dict(color="black")
    )

NameError: name 'df' is not defined